@media (max-width:500px) {
    body{
        font-size: 12px;
        min-width: 320px;
    }

    .col-6 {
        
        display: block;
        width: 100%;
        
    }

    .col-4 {
        
        display: block;
        width: 100%;
        
    }

    .container {
        margin: 0 auto; 
        display: block;
        width: 100%;
        min-width: 320px
    }

    .row, .nav{
        padding: 0
    }

    .nav-bar{
        display: none
    }


}